.cart {
  background: rgba(255, 153, 0, 0.3);
  padding: 20px;
  position: sticky;
  top: 0;
  color: whitesmoke;
  border-radius: 15px;
}
.cart h6 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; 
}
.cart p{
  font-size: 17px;
}