.product img {
  height: 285px;
  width: 285px;
  border-radius: 8px;
  margin: 7px;
}

.product {
  padding: 5px;
  width: 300px;
  height: 505px;
  border: 1px solid hotpink;
  border-radius: 8px;
  position: relative;
}

.product-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
}

.product-info {
  margin-left: 14px;
}

.product-info p {
  margin-top: 10px;
}

.btn-cart {
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.btn-cart:hover{
    background-color: orange;
}

.product-price{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: 0.0015em;
}